@import 'vars';
@import 'functions';
@import 'mixins';
@import 'vendor';
@import 'breakpoints';
@import 'html-grid';
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


// Breakpoints.

@include breakpoints((
        xlarge: (1281px, 1680px),
        large: (981px, 1280px),
        medium: (737px, 980px),
        small: (null, 736px)
));

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;

  &:before,
  &:after {
    content: '';
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
  line-height: 1;
  background-color: #171311;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: 3.5em;
}

body, input, textarea, select {
  font-family: 'Mulish', sans-serif;
  line-height: 1.85em;
  color: #fff;
  font-weight: 300;
  font-size: 13pt;

}

main {
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: #fff;

  img {
    border: 0;
  }
}

b, strong {
  font-weight: 600;
  color: #fff;
}

i, em {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

blockquote {
  border-left: solid 0.75em #eee;
  padding: 1em 0 1em 1.5em;
  font-style: italic;
}

h1 {
  color: #fff;
  margin: 0 0 0.75em 0;
}

h2, h3, h4, h5, h6 {
  color: #fff;
  margin: 0 0 2em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: inherit;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 3.25em;
  letter-spacing: -0.025em;
  font-weight: 300;

  strong {
    font-weight: 700;
  }
}

h2 {
  font-size: 2em;
  letter-spacing: -0.015em;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -0.015em;
}

em, i {
  font-style: italic;
}

br.clear {
  clear: both;
}

hr {
  border: 0;
  border-top: solid 1px #444;
  border-top-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  height: 1px;
  margin: 3em 0;
}

p, ul, ol, dl, table {
  margin-bottom: 1em;
}

header {
  > p {
    font-size: 1.25em;
    margin: 0;
  }
}

footer {
  > p {
    font-size: 1.25em;
  }
}

.wide-row {
  margin: 0 auto;
  padding: 25px 0 50px 25px;
  width: 1200px;

  &.medium {
    width: (1200px * 1);
  }

  h2 {
    color: #ffffff;
  }

  @include breakpoint('<=xlarge') {
    width: 1225px;

    &.medium {
      width: (1225px * 0.75);
    }
  }

  @include breakpoint('<=large') {
    width: 960px;

    &.medium {
      width: (960px * 1);
    }
  }

  @include breakpoint('<=medium') {
    width: 100%;

    &.medium {
      width: (100% * 0.85);
    }
  }

  @include breakpoint('<=small') {
    padding: 0;
    width: 100%;
    max-width: calc(100% - 20px);

    &.medium {
      width: 100%;
    }

    .row {
      margin-left: 0;
    }
  }

  .wide-box {
    display: flex;
    align-items: center;
    text-align: left;
    width: 90%;
    max-width: 100%;

    div {
      flex-basis: 60%;
    }

    img {
      float: right;
      width: 40%;
      image-rendering: pixelated;
    }

  }
}


/* Container */

.container {
  margin: 0 auto;
  max-width: calc(100% - 50px);
  width: 1200px;

  &.medium {
    width: (1200px * 1);
  }

  @include breakpoint('<=xlarge') {
    width: 1200px;

    &.medium {
      width: (1200px * 0.75);
    }
  }

  @include breakpoint('<=large') {
    width: 960px;

    &.medium {
      width: (960px * 1);
    }
  }

  @include breakpoint('<=medium') {
    width: 100%;

    &.medium {
      width: (100% * 0.85);
    }
  }

  @include breakpoint('<=small') {
    width: 100%;
    max-width: calc(100% - 20px);

    &.medium {
      width: 100%;
    }
  }
}

/* Row */

.row {
  @include html-grid((25px, 25px));

  @include breakpoint('<=xlarge') {
    @include html-grid((25px, 25px), 'xlarge');
  }

  @include breakpoint('<=large') {
    @include html-grid((25px, 25px), 'large');
  }

  @include breakpoint('<=medium') {
    @include html-grid((25px, 25px), 'medium');
  }

  @include breakpoint('<=small') {
    @include html-grid((15px, 15px), 'small');
  }
}

/* Form */

form {
  label {
    color: #9b9b9b;
    font-weight: 700;
    display: block;
    margin: 0 0 0.5em 0;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  select,
  textarea {
    -webkit-appearance: none;
    display: block;
    padding: 0.75em;
    font-size: 1em;
    border-radius: 8px;
    border: solid 1px #ddd;
    background: #fff;
    color: #bbb;
    box-shadow: inset 0 2px 3px 1px rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.025);
    width: 100%;
    resize: none;

    &:focus {
      background: #fafafa;
      box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.025), inset 0 0 2px 1px #f55e2c;
    }
  }

  textarea {
    height: 15em;
  }

  .actions {
    &:last-child {
      margin-bottom: 0;
    }
  }

  ::-webkit-input-placeholder {
    color: #989898 !important;
  }

  :-moz-placeholder {
    color: #989898 !important;
  }

  ::-moz-placeholder {
    color: #989898 !important;
  }

  :-ms-input-placeholder {
    color: #989898 !important;
  }

  ::-moz-focus-inner {
    border: 0;
  }
}

/* Tables */

table {
  width: 100%;

  &.default {
    width: 100%;

    tr {
      border-top: solid 1px #eee;

      &:first-child {
        border-top: 0;
      }
    }

    td {
      padding: 0.5em 1em 0.5em 1em;
    }

    th {
      text-align: left;
      padding: 0.5em 1em 0.5em 1em;
      font-weight: 600;
      margin: 0 0 1em 0;
    }

    thead {
      background: #4f4f4f;
      color: #fff;
    }
  }
}

/* Section/Article */

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

/* Image */

.image {
  display: inline-block;
  position: relative;

  img {
    display: block;
    width: 100%;
  }

  &.fit {
    display: block;
    width: 100%;
  }

  &.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
  }

  &.left {
    float: left;
    margin: 0 2em 2em 0;
  }

  &.centered {
    display: block;
    margin: 0 0 2em 0;

    img {
      margin: 0 auto;
      width: auto;
    }
  }
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  background-color: #f55e2c;
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f55e2c;
  padding: 1em 2.35em 1em 2.35em;
  font-size: 1.1em;
  max-width: 24em;


  &:hover {
    background-color: #f56b41;
  }

  &:active {
    background-color: #f55e2c;
    top: 1px;
  }

  &.large {
    font-size: 1.5em;
    letter-spacing: -0.025em;
  }

  &.alt {
    background-color: #444;
    box-shadow: inset 0 0 0 1px #242424, inset 0 2px 1px 0 rgba(255, 255, 255, 0.2);

    &:hover {
      background-color: #4f4f4f;
      color: #fff !important;
    }

    &:active {
      background-color: #3f3f3f;
    }
  }
}

/* List */

ul {
  list-style: disc;
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }

}

ol {
  list-style: decimal;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}


/* Actions */

ul.actions {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    margin: 0 0 0 1em;
    padding-left: 0;

    &:first-child {
      margin-left: 0;
    }
  }
}

/* Box */

.box {
  text-align: center;
  padding: 2em;

  &.style1 {
    padding: 3em 2em 3.5em 2em;

    h3 {
      margin-bottom: 0.5em;
    }
  }

  &.style2 {
    h3 {
      margin-bottom: 0.25em;
    }

    .image {
      position: relative;
      left: 2em;
      top: 2em;
      margin: -4em 0 4em -4em;
      width: auto;
    }
  }
}

/* Icons */

.icon {
  @include icon;
  text-decoration: none;

  &:before {
    font-size: 1.25em;
  }

  > .label {
    display: none;
  }

  &.solid {
    &:before {
      font-weight: 900;
    }
  }

  &.featured {
    color: #f55e2c;
    display: block;
    margin: 0 0 1.5em 0;
    cursor: default;

    &:before {
      font-size: 6em;
    }
  }
}

/* Wrappers */

.wrapper {
  padding: 3em 0 3em 0;
  text-align: center;

  &.style4 {
    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }

    form {
      input[type=text],
      input[type=password],
      input[type=tel],
      select,
      textarea {
        color: #ffffff;
        border: none;
        background: #504a48;

        &:focus {
          background: #756b68;
          border: none;
        }
      }
    }

    input::placeholder {
      color: #ffffff;
    }
  }
}


/* Nav */

#nav {
  background-color: #171311;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10000;
  cursor: default;
  height: 3.5em;
  line-height: 3.5em;

  ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
  }

  li {
    display: inline-block;
    padding-left: 0;
  }

  a {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    border-radius: 8px;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.25em;

    &:hover {
      color: #fff !important;
      background: #f55e2c;
    }

    &.active {
      background: #484848;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: -0.6em;
        left: 50%;
        margin-left: -0.75em;
        border-left: solid 0.75em transparent;
        border-right: solid 0.75em transparent;
        border-top: solid 0.6em #282828;
      }
    }
  }
}

/* Articles */

body > article {
  margin-bottom: 0;
}

#top {
  padding: 3em 0;
  text-align: left;

  .image {
    border-radius: 100%;
    width: 20em;
    height: 20em;
    margin: 0;
    margin-top: 4em;

    img {
      border-radius: 100%;
    }
  }

  h1 {
    margin-top: 0.35em;
  }

  p {
    font-size: 1.5em;
    line-height: 1.75em;

    a {
      color: inherit;
    }
  }
}

.contact {
  footer {
    font-size: 0.9em;
  }
}

/* Copyright */

#copyright {
  color: #666;
  font-size: 1em;
  line-height: 3em;
  list-style: none;
  padding-top: 1em;
  padding-left: 0;
  margin-bottom: 0;

  li {
    display: inline-block;
    border-left: solid 1px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
    padding: 0 0 0 1em;
    margin: 0 0 0 1em;

    &:first-child {
      border: 0;
      box-shadow: none;
      padding-left: 0;
      margin-left: 0;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: #777;
    }
  }
}

@include breakpoint('<=xlarge') {

  #promotion-box {
    width: calc(85vw - 25px);
  }

}


/* Large */

@include breakpoint('<=large') {

  /* Basic */

  body {
    font-size: 11pt;
  }

  input, textarea, select {
    font-size: 11pt;
  }

  /* Wrappers */

  .wrapper {
    padding: 3em 0 3em 0;
    text-align: center;

    &.style4 {
      .row-special {
        margin: 2em 0 0 0;
        padding: 2em 0 2em 0;
      }
    }
  }

  /* Articles */

  #top {
    padding: 3em 0;

    .image {
      width: 24em;
      height: 24em;
      margin: 0;
      margin-top: 3em;
    }
  }

}

/* Medium */

@include breakpoint('<=medium') {

  /* Articles */

  #top {
    text-align: center;
    padding: 5em 0;

    .image {
      margin: 0 auto 2em auto;
    }
  }

  #header-li {
    text-align: center;

    ul {
      display: inline-block;
      text-align: left;
    }
  }

  .button {
    padding: 1em 3em;
    font-size: 1.1em;
    max-width: 28em;
  }
}

/* Small */

@include breakpoint('<=small') {

  /* Basic */

  body {
    padding-top: 44px;
  }

  body, input, textarea, select {
    line-height: 1.75em;
    font-size: 10pt;
    letter-spacing: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.25em;
    margin: 0 0 2em 0;
  }

  h1 {
    font-size: 2.25em;
    line-height: 1.25em;
  }

  header {
    > p {
      font-size: 1.25em;
    }
  }

  footer {
    > p {
      font-size: 1.25em;
    }
  }

  hr {
    margin: 1.5em 0 2em 0;
  }

  /* Section/Article */

  section, article {
    clear: both;
  }

  /* Button */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    padding: 1em 0 1em 0;

    &.large {
      font-size: 1.2em;
      letter-spacing: 0;
    }
  }

  /* Social */

  ul.social {
    padding: 1em 0.5em 0 0.5em;

    li {
      margin: 0.5em 0.5em 0.5em 0.5em;

      a {
        top: 0 !important;

        &:before {
          background-color: transparent !important;
        }
      }
    }
  }

  /* Box */

  .box {
    padding: 30px 20px 30px 20px;
    margin: 0 0 20px 0 !important;

    h3 {
      margin-bottom: 0.25em;
    }

    .image {
      &.centered {
        margin-bottom: 1em;
      }

      &.featured {
        position: relative;
        left: 20px;
        top: 20px;
        margin: -50px 0 50px -40px;
        width: auto;
      }
    }

    &.style1 {
      max-width: 32em;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    &.style2 {
      max-width: 32em;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }


  /* Wrappers */

  .wrapper {
    padding: 3em 0;
    text-align: center;
  }

  /* Nav */
  #nav {
    height: 44px;
    line-height: 44px;

    a {
      padding: 0 0.75em;
      height: inherit;
      line-height: inherit;
      border-radius: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  /* Articles */

  #top {
    padding: 3em 0;

    .image {
      width: 15em;
      height: 15em;
      margin-bottom: 0;
    }

    p {
      font-size: 1em;
    }
  }

  .contact {
    footer {
      margin: 0;
    }
  }

  /* Copyright */

  #copyright {
    font-size: 1em;
    margin: 0;

    li {
      display: block;
      margin: 1em 0 0 0;
      padding: 0;
      box-shadow: none;
      border-left: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
  #header-li {
    text-align: center;

    ul {
      display: inline-block;
      text-align: left;
    }
  }
}


/* Block 10 */
/* Box */

.pic {
  padding: 3.5em;

  &.alt {
    background: none;
    border: none;
    padding: 0;
  }
}

.card {
  position: relative;
  height: 20em;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  h3, h4, h5, h6 {
    text-align: inherit;
  }

  .image {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;

    img {
      display: block;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
    }
  }

  &:before {
    background: #f55e2c;
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .pic-card {
    display: inline-block;
    padding: 3.5em;
    vertical-align: middle;
    width: 48%;

    h3 {
      margin-bottom: 0.5em;
    }

    :last-child {
      margin: 0;
    }
  }

  &.left {
    text-align: left;

    .image {
      float: left;

      img {
        right: 0;
        top: 0;
      }
    }

    .pic-card {
      padding-right: 0;
    }
  }

  &.right {
    text-align: right;

    .image {
      float: right;

      img {
        left: 0;
        top: 0;
      }
    }

    .pic-card {
      padding-left: 0;
    }
  }

  &.long {
    .pic-card {
      padding-top: 0;
    }
  }
}

/* header li */

.pluses {
  ul {
    list-style-image: url("../images/check.svg");
  }

  li {
    position: relative;
    list-style: none;
    padding-left: 40px;
    margin-bottom: 5px;
    text-align: left;
  }

  li::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url("../images/check.svg");
    background-size: cover;
  }
}

#header-h1 {
  line-height: 1em;
}

input[type=checkbox] {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
  -ms-appearance: checkbox;
  appearance: checkbox;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: auto;
  justify-content: start;
  color: #ffffff !important;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ffffff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #ff8962;
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: #ff8962;
  border-color: #d57150;
}

.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(245, 94, 44, 0.4);
}

.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #f55e2c;
}

.custom-checkbox:checked + label::before {
  border-color: #f55e2c;
  background-color: #f55e2c;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.checkbox {
  width: 33%;
  margin: auto;
  float: left;
  color: #ffffff !important;
}


.left-label {
  margin-top: 1em;
  text-align: left;
  padding-left: 1em;
}

.button {
  margin: auto;
}


#contact {
  padding: 0;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8em;
  text-align: left;

  h2 {
    display: block;
    font-weight: lighter;
    margin-bottom: 2em;
  }

  p {
    margin-bottom: 0.2em;
  }

  .footer-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .button {
      border: none;
      border-radius: 4px;
      margin-top: 20px;
      cursor: pointer;
      width: calc(100% - 1em);
      align-items: center;
      margin-left: 0.5em;
      font-size: 1em;
      text-align: center;
    }
  }

  .footer-right {
    width: 55%;
    justify-content: flex-end;
  }

  .table-contact {
    padding-right: 0.5em;
    width: 5em;
  }

  table {
    font-size: 1rem;
  }
}


.social-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  img {
    width: 48px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.3em;
    margin-bottom: 1em;
  }

  .icon:hover {
    filter: drop-shadow(0 0 3px #f55e2c);
  }
}


.horn {
  width: 5em;
}

#steps-row {
  background-color: #9b9b9b;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  img {
    width: 20%;
  }
}


